.room-list a{
    text-decoration: none;
    color:inherit;
}

.favorites {
    margin-top:30px;
}

.fav-rev h2 {
    color:#ff6427;
    margin-bottom: 30px;
}

.fav-rev a {
    text-decoration:none;
    color:inherit;
}

.fav-rev a:hover {
    color:#ff6427;
}

.review-li {
    margin-bottom: 30px;
}

.room-list img {
    width:200px;
    border-radius: 5px;
}

.details {
    display: inline-block;
    vertical-align: top;
    padding-left:30px;
    width: 100%;
}

.details h6{
    color:rgb(160, 160, 160);
    margin-bottom:20px;
}

.details i{
    color:#ff6427;
    margin-right: 10px;
}

.room-btn {
    display: flex;
    justify-content: end;
}

.room-list{
    list-style:none;
}

.about-booking div {
    border-radius: 3px;
    margin-top:20px;
}

.about-booking div h5{
    padding-top:9px;
}

.about-booking .price{
    background-color: rgb(78, 78, 78);
    color:white;
    text-align: center;
}

.about-booking .dates{
    background-color: rgb(204, 204, 204);
    color:black;
    text-align: center;
}

.price h5, .dates h5 {
    font-size: 19px;
}

.room-list hr {
    margin-top: 70px;
    border: none;
    border-top: 2px dotted;
    height: 5px;
}


.parent-div .my-bookings {
    background:#ff6427;
    max-width: 700px;
    border-radius: 5px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.parent-div .my-bookings h2 {
    color:white;
    padding-top:3px;
}

.room-list .details .gotoroom {
    border-radius: 5px;
    max-width: 503px;
    background-color: #ff6427;
    border:none;
}

.room-list .details .gotoroom:hover {
    background:#ee4300;
  
}

.fa-star {
    color:rgb(255, 153, 0);
  }

.img-box {
    padding-right:20px;
    float:left;
    border-right:2px solid #ff6427;
}

.no-results i {
    font-size:150px;
    margin-bottom: 30px;
    color:rgba(0, 0, 0, 0.151);
}

.no-results h3 {
    color:rgba(0, 0, 0, 0.308);
}

.loadReviews .showmore {
    background: none;
	color: #ff6427;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.loadReviews .showmore:hover {
    background: #ff642760;
    border-radius: 5px;
}

.details .cancel-booking {
    font-size:13px;
    color: black;
    border: none;
    background: linear-gradient(to right, rgb(233, 233, 233) 30%,rgba(0, 0, 0, 0) 150%);
}

.details .cancel-booking:hover {
    background: linear-gradient(to right, rgb(197, 197, 197) 30%,rgba(0, 0, 0, 0) 150%);
    color: black;
}

.guests {
    margin-top: 20px;
    border-radius: 3px;
    max-width: 100%;
}

.guests h5{
    font-size: 15px;
}


#cancelModal {
    position:fixed;
    top:30%;
}

#cancelModal .closeButton {
    background: rgb(194, 194, 194);
    border:none;
    outline:none;
}

#cancelModal .closeButton:hover {
    background: rgb(170, 170, 170);
    border:none;
    outline:none;
}